<footer>
  <section class="container">
    <nav class="navigation">
      <ul class="list-nav">
        <li class="link-nav">
          <a href="#about-us" class="link-nav-items">about us</a>
        </li>
        <li class="link-nav">
          <a href="#our-collection" class="link-nav-items">our collection</a>
        </li>
      </ul>
      <ul class="list-nav">
        <li class="link-nav">
          <a href="#your-order" class="link-nav-items">customer order</a>
        </li>
        <li class="link-nav">
          <a href="#testimonials" class="link-nav-items">testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="tagline-wrap">
      <p class="tagline">
        A touch of <span class="ukrainian">Ukrainian </span> culture in every
        embroidery
      </p>
    </div>
  </section>
</footer>
