<header>
  <section class="container">
    <nav class="navigation">
      <a href="#" class="logo"
        ><img src="/img/logo.svg" alt="logo" width="44" height="39"
      /></a>
      <ul class="list-nav">
        <li class="list-item"><a href="#about-us">about us</a></li>
        <li class="list-item">
          <a href="#our-collection">our collection</a>
        </li>
        <li class="list-item">
          <a href="#customer-order">customer order</a>
        </li>
        <li class="list-item"><a href="#testimonials">testimonials</a></li>
      </ul>
    </nav>
    <address class="address">
      <a class="telephone" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <ul class="list-icon">
        <li class="item-icon">
          <a
            class="link-icon"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="item-icon">
          <a
            class="link-icon"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item-icon">
          <a
            class="link-icon"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="button-burger" type="button" data-menu-open>
      <svg class="button-header-icon">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </section>
</header>
