<header class="header">
    <section class="container header-container">
        <nav class="header-nav">
            <a href="" class="header-logo-a">
                <svg class="header-logo" width="44" height="39">
                    <use href="/src/img/logo.svg"></use>
                </svg>
            </a>
            <ul class="header-nav-list">
                <li><a class="nav-link curent" href="#about-us"> About us </a></li>
                <li><a class="nav-link" href="#our-collection"> Our collection </a></li>
                <li><a class="nav-link" href="#customer-order"> Customer Order </a></li>
                <li><a class="nav-link" href="list-item"> Testimonials </a></li>
            </ul>
            <address class="header-adress">
                <a class="head-address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </address>
        </nav>
        <ul class="header-icons">
            <li class="header-icons-list">
                <a href="" class="head-icons-a">
                    <svg class="header-icons-svg" width="28" height="28">
                        <use href="/src/img/icons.svg#icon-faceboo"></use>
                    </svg>
                </a>
            </li>
            <li class="header-icons-list">
                <a href="" class="header-icons-a">
                    <svg class="header-icons-svg" width="28" height="28">
                        <use href="/src/img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-icons-list">
                <a href="" class="header-icons-a">
                    <svg class="header-icons-svg" width="28" height="28">
                        <use href="/src/img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button type="button" class="header-button" data-menu-open>
            <svg class="header-button-svg">
                <use href="/src/img/icons.svg#icon-burger"></use>
            </svg>
        </button>
    </section>
    </div>
</header>