<header class="header">
    <div class="container header-container">
        <a href="" class="header-logo-a">
            <svg class="header-logo" width="44" height="44">
                <use href="/src/img/logo.svg"></use>
            </svg>
        </a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li><a class="nav-link curent" href=""> About us </a></li>
                <li><a class="nav-link" href=""> Our collection </a></li>
                <li><a class="nav-link" href=""> Customer Order </a></li>
                <li><a class="nav-link" href=""> Testimonials </a></li>
            </ul>
        </nav>
        <address class="header-adress">
            <ul class="head-adress-list">
                <li><a class="head-address-link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
            </ul>
        </address>
        <ul class="header-icons">
            <li class="header-icons-list">
                <a href="" class="head-icons-a">
                    <svg class="header-icons" width="44" height="44">
                        <use href="/src/img/icons.svg#icon-faceboo"></use>
                    </svg>
                </a>
            </li>
            <li class="header-icons-list">
                <a href="" class="header-icons-a">
                    <svg class="header-icons" width="44" height="44">
                        <use href="/src/img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-icons-list">
                <a href="" class="header-icons-a">
                    <svg class="header-icons" width="44" height="44">
                        <use href="/src/img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button type="button" class="header-button" width="44" height="44">
            <svg class="header-button-svg">
                <use href=""></use>
            </svg>
        </button>
    </div>

    <div class="header-mob-menu">

        <address class="header-mob-adress">
            <ul class="head-mob-adress-list">
                <li><a class="head-mob-address-link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
            </ul>
        </address>
        <button type="button" class="header-menu-close">
            <svg class="header-mob-button-close" width="44" height="44">
                <use href="/src/img/icons.svg#icon-cross"></use>
            </svg>
        </button>
        <nav class="header-mob-nav">
            <ul class="header-mob-nav-list">
                <li><a class="nav-mob-link" href=""> About us </a></li>
                <li><a class="nav-mob-link" href=""> Our collection </a></li>
                <li><a class="nav-mob-link" href=""> Customer Order </a></li>
                <li><a class="nav-mob-link" href=""> Testimonials </a></li>
            </ul>
        </nav>

    </div>
</header>