<div class="menu" id="mobile-menu">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <a href="tel:+380684439426" class="contact-telephone-modal"
        >+380 (68) 443-94-26</a
      >
      <button class="close-button" type="button" aria-label="Close menu">
        <svg class="close-icon" width="36" height="36">
          <use href="/img/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <ul class="modal-menu">
      <li class="modal-menu-item">
        <a href="#about-us" class="modal-menu-item-link">about us</a>
      </li>
      <li class="modal-menu-item">
        <a href="#our-collection" class="modal-menu-item-link"
          >our collection</a
        >
      </li>
      <li class="modal-menu-item">
        <a href="#your-order" class="modal-menu-item-link">customer order</a>
      </li>
      <li class="modal-menu-item">
        <a href="#testimonials" class="modal-menu-item-link">testimonials</a>
      </li>
    </ul>
  </div>
</div>
