<section class="our-collection" id="our-collection">
    <div class="container">
        <h2 class="title-collect">Our collection</h2>
        <ul class="list-collect">
            <li class="item-collect">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <picture class="thumb-collect">
                                <source srcset="/img/our-collection/poltava-desktop-1280@1x-min.jpg 1x, 
                                /img/our-collection/poltava-desktop-1280@2x-min.jpg 2x,
                                /img/our-collection/poltava-desktop-1280@3x-min.jpg 3x" 
                                media="(min-width: 1280px)">
                                <source srcset="/img/our-collection/poltava-tablet@1x-min.jpg 1x, 
                                /img/our-collection/poltava-tablet@2x-min.jpg 2x,
                                /img/our-collection/poltava-tablet@3x-min.jpg 3x" 
                                media="(min-width: 768px)">
                                <source srcset="/img/our-collection/poltava-mobile@1x-min.jpg 1x, 
                                /img/our-collection/poltava-mobile@2x-min.jpg 2x,
                                /img/our-collection/poltava-mobile@3x-min.jpg 3x" 
                                media="(max-width: 767px)">
                                <img 
                                    class="collect-img" 
                                    src="/img/our-collection/poltava-mobile@1x-min.jpg" 
                                    alt="black woman's shirt" />
                            </picture>
                        </div>
                        <div class="flip-card-back">
                            <p class="desk-card-back">there may be another photo here</p>
                        </div>
                    </div>
                </div>
                <h3 class="description-item">August poltava women's blousering</h3>
                <p class="price-item">3300 UAH</p>
            </li>
            <li class="item-collect">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <picture class="thumb-collect">
                                <source srcset="/img/our-collection/gorgany-desktop-1280@1x-min.jpg 1x, 
                                /img/our-collection/gorgany-desktop-1280@2x-min.jpg 2x,
                                /img/our-collection/gorgany-desktop-1280@3x-min.jpg 3x" 
                                media="(min-width: 1280px)">
                                <source srcset="/img/our-collection/gorgany-tablet@1x-min.jpg 1x, 
                                /img/our-collection/gorgany-tablet@2x-min.jpg 2x,
                                /img/our-collection/gorgany-tablet@3x-min.jpg 3x" 
                                media="(min-width: 768px)">
                                <source srcset="/img/our-collection/gorgany-mobile@1x-min.jpg 1x, 
                                /img/our-collection/gorgany-mobile@2x-min.jpg 2x,
                                /img/our-collection/gorgany-mobile@3x-min.jpg 3x" 
                                media="(max-width: 767px)">
                                <img 
                                    class="collect-img" 
                                    src="/img/our-collection/gorgany-mobile@1x-min.jpg" 
                                    alt="Women's blouse Gorgany" />
                            </picture>
                        </div>
                        <div class="flip-card-back">
                            <p class="desk-card-back">there may be another photo here</p>
                        </div>
                    </div>
                </div>
                <h3 class="description-item">Women's blouse Gorgany</h3>
                <p class="price-item">3350 UAH</p>
            </li>
            <li class="item-collect">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <picture class="thumb-collect">
                                <source srcset="/img/our-collection/crimea-desktop-1280@1x-min.jpg 1x, 
                                /img/our-collection/crimea-desktop-1280@2x-min.jpg 2x,
                                /img/our-collection/crimea-desktop-1280@3x-min.jpg 3x" 
                                media="(min-width: 1280px)">
                                <source srcset="/img/our-collection/crimea-tablet@1x-min.jpg 1x, 
                                /img/our-collection/crimea-tablet@2x-min.jpg 2x,
                                /img/our-collection/crimea-tablet@3x-min.jpg 3x" 
                                media="(min-width: 768px)">
                                <source srcset="/img/our-collection/crimea-mobile@1x-min.jpg 1x, 
                                /img/our-collection/crimea-mobile@2x-min.jpg 2x,
                                /img/our-collection/crimea-mobile@3x-min.jpg 3x" 
                                media="(max-width: 767px)">
                                <img 
                                    class="collect-img" 
                                    src="/img/our-collection/crimea-mobile@1x-min.jpg" 
                                    alt="Women's blouse Crimea" />
                            </picture>
                        </div>
                        <div class="flip-card-back">
                            <p class="desk-card-back">there may be another photo here</p>
                        </div>
                    </div>
                </div>
                <h3 class="description-item">Women's blouse Crimea</h3>
                <p class="price-item">4000 UAH</p>
            </li>
            <li class="item-collect">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <picture class="thumb-collect">
                                <source srcset="/img/our-collection/verkhovina-desktop-1280@1x-min.jpg 1x, 
                                /img/our-collection/verkhovina-desktop-1280@2x-min.jpg 2x,
                                /img/our-collection/verkhovina-desktop-1280@3x-min.jpg 3x" 
                                media="(min-width: 1280px)">
                                <source srcset="/img/our-collection/verkhovina-tablet@1x-min.jpg 1x, 
                                /img/our-collection/verkhovina-tablet@2x-min.jpg 2x,
                                /img/our-collection/verkhovina-tablet@3x-min.jpg 3x" 
                                media="(min-width: 768px)">
                                <source srcset="/img/our-collection/verkhovina-mobile@1x-min.jpg 1x, 
                                /img/our-collection/verkhovina-mobile@2x-min.jpg 2x,
                                /img/our-collection/verkhovina-mobile@3x-min.jpg 3x" 
                                media="(max-width: 767px)">
                                <img 
                                    class="collect-img" 
                                    src="/img/our-collection/verkhovina-mobile@1x-min.jpg" 
                                    alt="Men's shirt Verkhovina" />
                            </picture>
                        </div>
                        <div class="flip-card-back">
                            <p class="desk-card-back">there may be another photo here</p>
                        </div>
                    </div>
                </div>
                <h3 class="description-item">Men's shirt Verkhovina</h3>
                <p class="price-item">3100 UAH</p>
            </li>
            <li class="item-collect">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <picture class="thumb-collect">
                                <source srcset="/img/our-collection/mountain-desktop-1280@1x-min.jpg 1x, 
                                    /img/our-collection/mountain-desktop-1280@2x-min.jpg 2x,
                                    /img/our-collection/mountain-desktop-1280@3x-min.jpg 3x" 
                                    media="(min-width: 1280px)">
                                <source srcset="/img/our-collection/moutain-tablet@1x-min.jpg 1x, 
                                    /img/our-collection/moutain-tablet@2x-min.jpg 2x,
                                    /img/our-collection/moutain-tablet@3x-min.jpg 3x" 
                                    media="(min-width: 768px)">
                                <source srcset="/img/our-collection/moutain-mobile@1x-min.jpg 1x,
                                    /img/our-collection/moutain-mobile@2x-min.jpg 2x, 
                                    /img/our-collection/moutain-mobile@3x-min.jpg 3x" 
                                    media="(max-width: 767px)">
                                <img 
                                    class="collect-img" 
                                    src="/img/our-collection/moutain-mobile@1x-min.jpg" 
                                    alt="Mountain men's shirt" />
                            </picture>
                        </div>
                        <div class="flip-card-back">
                            <p class="desk-card-back">there may be another photo here</p>
                        </div>
                    </div>
                </div>
                <h3 class="description-item">Mountain men's shirt</h3>
                <p class="price-item">3300 UAH</p>
            </li>
            <li class="item-collect">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <picture class="thumb-collect">
                                <source srcset="/img/our-collection/yasen-desktop-1280@1x-min.jpg,
                                /img/our-collection/yasen-desktop-1280@2x-min.jpg 2x, 
                                /img/our-collection/yasen-desktop-1280@3x-min.jpg 3x" 
                                media="(min-width: 1280px)">
                                <source srcset="/img/our-collection/yasen-tablet@1x-min.jpg,
                                /img/our-collection/yasen-tablet@2x-min.jpg 2x, 
                                /img/our-collection/yasen-tablet@3x-min.jpg 3x" 
                                media="(min-width: 768px)">
                                <source srcset="/img/our-collection/yasen-mobile@1x-min.jpg,
                                /img/our-collection/yasen-mobile@2x-min.jpg 2x, 
                                /img/our-collection/yasen-mobile@3x-min.jpg 3x" 
                                media="(max-width: 767px)">
                                <img 
                                    class="collect-img" 
                                    src="/img/our-collection/yasen-mobile@1x-min.jpg" 
                                    alt="Men's shirt Yasen" />
                            </picture>
                        </div>
                        <div class="flip-card-back">
                            <p class="desk-card-back">there may be another photo here</p>
                        </div>
                    </div>
                </div>
                <h3 class="description-item">Men's shirt Yasen</h3>
                <p class="price-item">1700 UAH</p>
            </li>
        </ul>
    </div>
</section>