<section class="testimonials" id="testimonials">
  <h2 class="testimonials-title">Testimonials</h2>
  <ul class="rewiews-list">
    <li class="rewiew-item">
      <img srcset="" src="" alt="Maria Tkachuk" />
      <div class="rewiew-content">
        <h3 class="testimonials-subtitle">Maria Tkachuk</h3>
        <p class="rewiew-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </div>
    </li>

    <li class="rewiew-item">
      <img srcset="" src="" alt="Sergey Rybachok" />
      <div class="rewiew-content">
        <h3 class="testimonials-subtitle">Sergey Rybachok</h3>
        <p class="rewiew-text">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
          simply masterpieces! I fell in love with the quality of the materials
          and the skill of the artisans behind each product. This is my favorite
          embroidery shop where I always find something special and unique.
        </p>
      </div>
    </li>

    <li class="rewiew-item">
      <img srcset="" src="" alt="Natalia Chatuk" />
      <div class="rewiew-content">
        <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
        <p class="rewiew-text">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </div>
    </li>
  </ul>
</section>
