<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Testimonials</h2>
    <div class="testimonials-slider" id="slider">
      <ul class="testimonials-slides">
        <li class="testimonials-review-item">
          <img
            class="testimonials-review-avatar"
            srcset="
              ../img/testimonials/maria@1x-min.png 1x,
              ../img/testimonials/maria@2x-min.png 2x,
              ../img/testimonials/maria@3x-min.png 3x
            "
            src="../img/testimonials/maria@1x-min.png"
            alt="Maria Tkachuk"
            width="64"
            height="64"
          />

          <h3 class="testimonials-subtitle">Maria Tkachuk</h3>
          <p class="testimonials-review-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </li>

        <li class="testimonials-review-item">
          <img
            class="testimonials-review-avatar"
            srcset="
              ../img/testimonials/sergey@1x-min.png 1x,
              ../img/testimonials/sergey@2x-min.png 2x,
              ../img/testimonials/sergey@3x-min.png 3x
            "
            src="../img/testimonials/sergey@1x-min.png"
            alt="Sergey Rybachok"
            width="64"
            height="64"
          />
          <div class="testimonials-review-content">
            <h3 class="testimonials-subtitle">Sergey Rybachok</h3>
            <p class="testimonials-review-text">
              Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
              simply masterpieces! I fell in love with the quality of the
              materials and the skill of the artisans behind each product. This
              is my favorite embroidery shop where I always find something
              special and unique.
            </p>
          </div>
        </li>

        <li class="testimonials-review-item">
          <img
            class="testimonials-review-avatar"
            srcset="
              ../img/testimonials/natalia@1x-min.png 1x,
              ../img/testimonials/natalia@2x-min.png 2x,
              ../img/testimonials/natalia@3x-min.png 3x
            "
            src="../img/testimonials/natalia@1x-min.png"
            alt="Natalia Chatuk"
            width="64"
            height="64"
          />
          <div class="testimonials-review-content">
            <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
            <p class="testimonials-review-text">
              Vyshyvanka Vibes is a real find for everyone who appreciates
              Ukrainian culture. Their embroidery reflects the spirit and
              traditions of our people. I not only buy embroidered shirts for
              myself, but also give them to my friends abroad as a symbol of our
              beauty and national pride.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
