<!-- ==== YOUR ORDER ==== -->
<section class="your-order" id="your-order">
  <div class="container your-order-container">
    <h2 class="your-order-title">
      <span class="your-order-title-accent">Your order</span> is our priority:
      Personalized approach and quality of service
    </h2>
    <form class="order-form">
      <div class="form-input-wrapper">
        <input
          class="form-input"
          type="text"
          name="user-name"
          placeholder="Enter your full name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ’]+"
          title="Robert"
          required
        />
      </div>
      <div class="form-input-wrapper">
        <input
          class="form-input"
          type="email"
          name="user-email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-input-wrapper">
        <textarea
          class="form-textarea"
          type="text"
          name="user-coment"
          placeholder="Comments"
          required
        ></textarea>
      </div>
      <button class="form-button" type="submit">
        Send<svg class="form-button-icon" width="24" height="17">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </form>
    <picture class="your-order-img">
      <source
        srcset="
          /img/your-order/vyshyvanka-order-desktop-1280@1x-min.jpg 1x,
          /img/your-order/vyshyvanka-order-desktop-1280@2x-min.jpg 2x,
          /img/your-order/vyshyvanka-order-desktop-1280@3x-min.jpg 3x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/your-order/vyshyvanka-order-tablet@1x-min.jpg 1x,
          /img/your-order/vyshyvanka-order-tablet@2x-min.jpg 2x,
          /img/your-order/vyshyvanka-order-tablet@3x-min.jpg 3x
        "
        media="(min-width: 768px)"
      />
      <img
        class=""
        src="/img/your-order/vyshyvanka-order-desktop-1280@1x-min.jpg"
        alt="An embroidered shirt and vest are worn on a woman"
        width="588"
        height="521"
      />
    </picture>
  </div>
</section>
