.about-us {
  background-image: url(/img/ornaments/gray@1x-min.png);
  background-repeat: no-repeat;
  background-position: calc(50% - (458px / 2) + 458px) bottom;
  background-size: 458px 408px;
  padding-top: 40px;
  padding-bottom: 62px;
}

.container-about-us {
  display: block;
}

@media (min-resolution: 192dpi) {
  .about-us {
    background-image: url(/img/ornaments/gray@2x-min.png);
  }
}
@media (min-resolution: 288dpi) {
  .about-us {
    background-image: url(/img/ornaments/gray@3x-min.png);
  }
}

.name-about-us {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.text-about-us {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 20px;
  line-height: 1.375;
}

.cont-text-about {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .text-about-us {
    font-size: 16px;
    line-height: 20px;
  }

  .about-us {
    background-image: url(/img/ornaments/gray@1x-min.png);
    background-repeat: no-repeat;
    background-position: calc(50% - (545px / 2) + 545px) bottom;

    background-size: 545px 484px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-resolution: 192dpi) {
    .container-about-us {
      background-image: url(/img/ornaments/gray@2x-min.png);
    }
  }

  @media (min-resolution: 288dpi) {
    .container-about-us {
      background-image: url(/img/ornaments/gray@3x-min.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    background-image: url(/img/ornaments/gray@1x-min.png);
    background-repeat: no-repeat;
    background-position: calc(50% - (545px / 2) + 700px) bottom;
    padding-top: 75px;
    padding-bottom: 80px;
    background-size: 545px 484px;
  }

  .about-us-img {
    width: 594px;
    height: 545px;
  }
  .container-about-us {
    display: flex;

    gap: 50px;
  }
  .cont-img-about {
    width: 594px;
  }
  .cont-text-about {
    width: 536px;
  }
  .text-about-us {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    line-height: 1.375;
  }
  .name-about-us {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 44px;
    line-height: 145%;
    letter-spacing: -0.03em;
    padding-top: 79px;
  }

  @media (min-resolution: 192dpi) {
    .container-about-us {
      background-image: url(/img/ornaments/gray@2x-min.png);
    }
  }

  @media (min-resolution: 288dpi) {
    .container-about-us {
      background-image: url(/img/ornaments/gray@3x-min.png);
    }
  }
}
