footer {
  font-family: 'Manrope', sans-serif;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url(/img/ornaments/yellow@1x-min.png);
  background-size: 452px;
  background-repeat: no-repeat;
  background-position: center bottom -86%;
  background-color: #1c2225;
}

footer .container {
  min-height: 637px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent;
}

@media screen and (min-resolution: 192dpi) {
  footer {
    background-image: url(/img/ornaments/yellow@2x-min.png);
  }
}

@media screen and (min-resolution: 288dpi) {
  footer {
    background-image: url(/img/ornaments/yellow@3x-min.png);
  }
}

footer .navigation {
  display: flex;
  gap: 40px;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer .list-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  max-width: 280px;
  align-items: flex-start;
}

footer .link-nav {
  padding-bottom: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .one {
  width: 116px;
}

footer .two {
  order: 1;
}

footer .three {
  order: 2;
  width: 116px;
}

footer .four {
  order: 3;
}

footer .link-nav:active,
footer .link-nav:focus,
footer .link-nav:hover {
  color: #ecd979;
}

footer .tagline-wrap {
  display: block;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 334px) and (min-width: 335px) {
  footer .tagline-wrap {
    max-width: 320px;
  }
}

footer .ukrainian {
  color: #ecd979;
}

/* tablet */

@media screen and (min-width: 768px) {
  footer .container {
    min-width: 768px;
    min-height: 370px;
  }

  footer {
    background-position: calc(50% + (452px / 2) + 210px) center;
  }

  footer .tagline-wrap {
    max-width: 521px;
    font-size: 54px;
    line-height: 1.19;
    margin-bottom: auto;
  }

  footer .list-nav {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 478px;
    font-size: 14px;
    gap: 25px;
  }

  footer .one,
  footer .two,
  footer .three,
  footer .four {
    width: auto;
    order: 0;
  }

  footer .navigation {
    gap: 25px;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 1280px) {
  footer .container {
    min-height: 363px;
  }

  footer {
    background-position-x: calc(50% + (595px / 2) + 305px);
    background-position-y: -59px;
    background-size: 595px;
  }

  footer .tagline-wrap {
    max-width: 754px;
    font-size: 64px;
    line-height: 1.16;
    margin-bottom: auto;
  }

  footer .navigation {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    background-position-x: calc(50% + (595px / 2) + 222px);
  }
}
