.our-collection {
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1c2225;
    background-image: url(/img/ornaments/yellow@1x-min.png);
    background-size: 199px 177px;
    background-repeat: no-repeat;
    background-position-x: calc(50% - (545px / 2.7) - 12px);
    background-position-y: calc(50% - 1180px);
    padding-bottom: 40px;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .our-collection {
        background-image: url(/img/ornaments/yellow@2x-min.png);
    }
}
@media screen and (max-width: 767px) and (min-resolution: 288dpi) {
    .our-collection {
        background-image: url(/img/ornaments/yellow@3x-min.png);
    }
}

.title-collect {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    text-align: center;
    margin-bottom: 58px;
}
.list-collect {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.item-collect {
    width: 100%;
}
.flip-card {
    background-color: transparent;
    max-width: 100%;
    height: 430px;
    perspective: 1000px;
    margin-bottom: 18px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    background-image: linear-gradient(blue, yellow);
    color: white;
    transform: rotateY(180deg);
}
.collect-img {
    border-radius: 4px;
}
.description-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fcf9f9;
    text-align: left;
    margin-bottom: 8px;
}
.price-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
}
@media screen and (min-width: 768px) {
    .our-collection {
        min-height: 430px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: 338px 300px;
        background-position-x: calc(50% - (545px / 1.6) - 100px);
        background-position-y: calc(50% - 450px);
    }
    .title-collect {
        margin-bottom: 40px;
        font-size: 44px;
        line-height: 1.45;
    }
    .list-collect {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: normal;
    }

    .item-collect {
        width: calc((100% - 20px) / 2);
    }
    .description-item, .price-item {
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .our-collection {
            background-image: url(/img/ornaments/yellow@2x-min.png);
        }
}
@media screen and (min-width: 768px) and (min-resolution: 288dpi) {
    .our-collection {
        background-image: url(/img/ornaments/yellow@3x-min.png);
    }
}
@media screen and (min-width: 1280px) {
    .our-collection {
        padding-top: 70px;
        padding-top: 70px;
        padding-bottom: 75px;
        background-size: 338px 300px;
        background-position-x: calc(50% - (545px / 1.6) - 297px);
        background-position-y: calc(50% - 200px);
    }
    .list-collect {
        gap: 40px 20px;
    
    }
    .item-collect {
    width: calc((100% - 40px) / 3);
    }
}
@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
.our-collection {
        background-image: url(/img/ornaments/yellow@2x-min.png);
    }
}
@media screen and (min-width: 1200px) and (min-resolution: 288dpi) {
    .our-collection {
        background-image: url(/img/ornaments/yellow@3x-min.png); 
    }
}